
#img1 {
    background-image: inherit;
    background-position: 0px 0px;

}

#img2 {
    background-image: inherit;
    background-position: -214px 0px;
}

#img3 {
    background-image: inherit;
    background-position: -428px 0px;
}

#img4 {
    background-image: inherit;
    background-position: -642px 0px;

}

#img5 {
    background-image: inherit;
    background-position: -856px 0px;

}

#img6 {
    background-image: inherit;
    background-position: -1070px 0px;

}

#img7 {
    background-image: inherit;
    background-position: -1284px 0px;
}

#img8 {
    background-image: inherit;
    background-position: -1498px 0px;
}

#img9 {
    background-image: inherit;
    background-position: -1712px 0px;
}

#img10 {
    background-image: inherit;
    background-position: -1926px 0px;
}

#img11 {
    background-image: inherit;
    background-position: -2140px 0px;
}

#img12 {
    background-image: inherit;
    background-position: -2354px 0px;
}

#img13 {
    background-image: inherit;
    background-position: -2568px 0px;
}

#img14 {
    background-image: inherit;
    background-position: -2782px 0px;
}

#img15 {
    background-image: inherit;
    background-position: -2996px 0px;
}

#img16 {
    background-image: inherit;
    background-position: -3210px 0px;
}

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    background: url(../images/bg.jpg) no-repeat center #e3cdb7;
    background-size: cover;
    -webkit-background-size: cover;
}

#quanj1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(51, 51, 51, 0.3);

}

#quanj2 {
    position: absolute;
    z-index: 10;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1) inset
}

#remove {
    text-align: center;
    opacity: 0.5;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    /*margin: auto;*/


    right: 10px;
    /*background: none repeat scroll 0% 0% rgb(153, 153, 153);*/
    cursor: pointer;
}

#b1 {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
}

#Figure {
    /*background-image: url('../images/13.jpg');*/
    background-size: 0px 0px;
    position: relative;
    width: 100%;
    height: 100%;
    /*border-radius: 5px;*/
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome 和 Safari */
    -moz-backface-visibility: hidden; /* Firefox */
    -o-backface-visibility: hidden; /* Internet Explorer */
}

.TransformDemoDiv {
    border-radius: 5px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome 和 Safari */
    -moz-backface-visibility: hidden; /* Firefox */
    -o-backface-visibility: hidden; /* Internet Explorer */
    position: absolute;
    background-size: 3424px 512px;
    width: 220px;
    height: 512px;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

}

.TransformDemoPerspective200 {

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

.TransformDemoPerspectiveOrigin8050 {
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
 
